AUTH_GRPC_URL=127.0.0.1:50051
USER_GRPC_URL=127.0.0.1:50056
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5438
DATABASE_USERNAME=web_rtc
DATABASE_PASSWORD=web_rtc
DATABASE_NAME=web_rtc
DATABASE_SSL=false
REDIS_URL=redis://127.0.0.1:6379
ACCESS_SESSION_TTL_SECONDS=900
REFRESH_SESSION_TTL_SECONDS=604800
