HOST=127.0.0.1
PORT=5020
AUTH_GRPC_URL=127.0.0.1:50051
ROOMS_GRPC_URL=127.0.0.1:50052
NOTIFICATIONS_GRPC_URL=127.0.0.1:50053
CHAT_GRPC_URL=127.0.0.1:50054
ACCESS_SESSION_COOKIE_MAX_AGE_SECONDS=900
REFRESH_SESSION_COOKIE_MAX_AGE_SECONDS=604800
COOKIE_SECURE=false
