GRPC_URL=127.0.0.1:50055
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5438
DATABASE_USERNAME=web_rtc
DATABASE_PASSWORD=web_rtc
DATABASE_NAME=web_rtc
DATABASE_SSL=false
KAFKA_BROKERS=127.0.0.1:9094
KAFKA_CLIENT_ID=payment-service
KAFKA_GROUP_ID=payment-service
PAYMENT_OUTBOX_POLL_INTERVAL_MS=1000
